
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group select {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group select option {
  
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.bo {
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}