body {
  background-color: #fff;
}

.login {
  margin: 0 auto;
  width: 90%;
}

.login-main {
  margin-top: 70px;
}

.login-form {
  width: 100%;
}
.login-form form {
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.login-form form h1 {
  background-color: #EEEEEE;
  border: 1px solid #ddd;
  text-align: center;
  color: #2E2929;
  padding: 12px;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 30px;
}

.login-form form label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}


.login-form form label span {
  color: red;
}

.login-form form input {
  width: 100%;
  font-size: 13px;
  height: 50px;
  border: 1px solid #959595;
  margin-top: 10px;
  padding: 0 5%;
  margin-bottom: 20px;
}

.login-form form button {
  width: 100%;
  height: 40px;
  border: 1px solid #DDDDDD;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #FC7312;
  color: #fff;
}

.login-form form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login-form form a {
  color: red;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.login-form form p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.login-form form p a {
  color: #2B4AC7;
}

.login-main p {
  font-size: 16px;
  color: #444;
}

.btn {
  background-color: #09A52E;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .login {
    margin: 0 auto;
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-color: #fff;
  }

  .login {
    margin: 0 auto;
    width: 60%;
  }

  .login-main {
    margin-top: 30px;
  }

  .login-form {
    width: 100%;
  }
  .login-form form {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
  }

  .login-form form h1 {
    background-color: #EEEEEE;
    border: 1px solid #ddd;
    text-align: center;
    color: #2E2929;
    padding: 12px;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 30px;
  }

}
