@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
 font-family: 'Poppins', sans-serif;
 background-color: #fff;
}

body {
  background-color: #fff;
}

.le {
  display: none;
}

.r {
  display: none;
}

.store {
  width: 100%;
}

.store-main {
  width: 100%;
}

.store-banner {
  width: 100%;
  height: 190px;
}

.store-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-content {
  margin: 0 auto;
  width: 100%;
}

.store-content-main {
  width: 100%;
  margin-top: 10px;
  padding: 5%;
}

.store-profile {
  width: 30%;
  height: 90px;
  float: left;
}

.store-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.store-d {
  width: 65%;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

.store-d h2 {
  font-size: 15px;
  color: #ff3300;
}

.store-d p {
  font-size: 12px;
  line-height: 1.5;
  color: #444;
}

.stores-product {
  width: 100%;
  float: left;
  margin-top: 20px;
    border-top: 1px solid #eee;
}

.stores-product-main {
  margin-top: 10px;
}

.stores-product-main h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

.stores-main-products {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.stores-details {
  width: 44%;
  margin: 0 3%;
  float: left;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  height: 250px;
}

.store-product-img {
  width: 100%;
  height: 150px;
  padding-bottom: 10px;
}

.store-product-img img {
  width: 100%;
  height: 100%;
}

.stores-content-details h2 {
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  font-weight: 500;
}
.stores-content-details p {
  color: #FC7312;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    background-color: #fff;
  }

  main {
    margin: 0 auto;
  }

  .main {
    width: 95%;
  }

  .store {
    width: 100%;
  }

  .store-main {
    width: 100%;
  }

  .store-banner {
    width: 94%;
    border: 1px solid red;
    height: 250px;
  }

  .store-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .store-content {
    margin: 0 auto;
    width: 100%;
  }

  .store-content-main {
    width: 100%;
    margin-top: 10px;
    padding: 5%;
  }

  .store-profile {
    width: 30%;
    height: 90px;
    float: left;
  }

  .store-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .store-d {
    width: 65%;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
  }

  .store-d h2 {
    font-size: 15px;
    color: #ff3300;
  }

  .store-d p {
    font-size: 12px;
    line-height: 1.5;
    color: #444;
  }

  .stores-product {
    width: 100%;
    float: left;
    margin-top: 20px;
      border-top: 1px solid #eee;
  }

  .stores-product-main {
    margin-top: 10px;
  }

  .stores-product-main h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
  }

  .stores-main-products {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stores-details {
    width: 27%;
    margin-left: 3%;
    float: left;
  }

  .stores-content-details h2 {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
    font-weight: 500;
  }
  .stores-content-details p {
    color: #FC7312;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    width: 100%;
    background-color: #fff;
  }

  main {
    margin: 0 auto;

  }

  .le {
    width: 13%;
    float: left;
    margin-right: 2%;
    display: block;
  }

  .le-main {
    padding-top: 20px;
    border-right: 2px solid #ddd;
    padding: 20px;
  }

  .le-main ul {
    width: 100%;
  }

  .le-main ul li {
    list-style :inherit;
  }

  .le-main ul li a {
    text-decoration: none;
  }

  .le-main ul li a:hover {
    text-decoration: underline;
  }

  .m {
    width: 70%;
    float: left;
  }

  .store {
    width: 100%;
  }

  .store-main {
    width: 100%;
  }

  .store-banner {
    width: 94%;
    border: 1px solid #eee;
    height: 350px;
  }

  .store-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .store-content {
    margin: 0 auto;
    width: 100%;
  }

  .store-content-main {
    width: 100%;
    margin-top: 0px;
    padding: 5%;
  }

  .store-profile {
    width: 10%;
    height: 90px;
    float: left;
  }

  .store-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .store-d {
    width: 65%;
    float: left;
    margin-left: 30px;
    margin-top: 12px;
  }

  .store-d h2 {
    font-size: 35px;
    color: #ff3300;
  }

  .store-d p {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
  }

  .stores-product {
    width: 100%;
    float: left;
    margin-top: 20px;
      border-top: none;
  }

  .stores-product-main {
    margin-top: 10px;
  }

  .stores-product-main h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }

  .stores-main-products {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .stores-details {
    width: 19%;
    margin-left: 3%;
    float: left;
    height: 300px;
  }

  .stores-content-details h2 {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
    font-weight: 500;
  }
  .stores-content-details p {
    color: #FC7312;
    font-size: 15px;
  }

  .r {
    width: 15%;
    float: left;
    margin-top: 1%;
    height: 600px;
    display: block;
  }

  .r-main {
    width: 100%;
    height: 100%;
  }
}
